body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar-custom {
  background-color: #004C6D;
  height: 7vh;
}
.navbar-custom .navbar-brand {
  color:  #C4E1EE;
}
.navbar-custom .navbar-nav .nav-link {
  color:  #C4E1EE;
}
.navbar-custom .navbar-nav .nav-link:hover {
  color:  #C4E1EE;
}

.navbar-icon {
  color:  #6FB8E1;
  font-size: 1rem; /* Adjust the font size as needed */
}

.navbar-icon-heart,
.navbar-icon-cart,
.navbar-icon-user {
  transition: color 0.3s ease; /* Add transition for hover effect */
}

.navbar-icon-heart:hover,
.navbar-icon-cart:hover,
.navbar-icon-user:hover {
  color:  #C4E1EE; /* Creamy white */
}
.navbar-icon-heart:hover {
  font-size: 0.8rem;
  fill:  #C4E1EE;
}
.navbar-icon-heart {
  font-size: 0.8rem;
}
input.form-control {
  border: 1px solid  #6FB8E1;
  display: block;
  padding: 9px 2px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search navbar-icon' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}
.input-height {
  height: 23px;
}
.input-width {
  width: 80px;
}
.navbar-image {
  height: 40px;
  width: 40px;
  margin: 0px;
  padding: 0px;
}
.navbar {
  margin: 0px;
}
.car-image {
  height: 100%;
  width: 100%;
}
.car-item {
  height: 100vh;
}
.indicator-item{
  padding: 2px;
  border: 0px;
}
.c-dark{
  color:#004C6D;
}
.c-light{
  color: #6FB8E1;
}
.c-ultraLight{
  color:  #C4E1EE;
}
.carousel-caption{
  position: absolute;
  right:30%;
  bottom: 30%;
  left:30%;
  z-index: 10;
}
.h2{
  margin-bottom: 10px;
}
.card-img-top{
  height: 100%;
  width: 100%;
  margin: 10px;


}
.card{
  height: fit-content;
  border: 1px gray solid;
  box-shadow: #004C6D;
  padding: 10px;
  margin: 10px;
  background-color: #FFF;
}
.cat-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  font-size: x-small;
}
.card-cta{
 flex-direction: row;
 justify-content: space-around;
 
}
.navbar-btn {
  height: 23px;
  width: 80%;
  font-size: 12px;
  margin: 10px;
  padding: 3px;
  background-color: #6FB8E1;
  border: none;
  color: #FFF;
  justify-content: center;
  align-items: center;
}
.navbar-btn:hover {
  height: 23px;
  width: 80%;
  font-size: 12px;
  margin: 10px;
  padding: 3px;
  background-color: #C4E1EE;
  border: none;
  color: #FFF;
  justify-content: center;
  align-items: center;
}

.row{
  background-color: #C4E1EE;
  margin:1rem;
  border:#004C6D 1px solid;

}